*.o
tags
deb/
pkgs
debian/changelog.*
xf86-input-mfndev/compile
xf86-input-mfndev/config.h.in
xf86-input-mfndev/depcomp
xf86-input-mfndev/ltmain.sh
xf86-qubes-common/libxf86-qubes-common.so
/pipewire/qubes-pw-module.so
/pipewire/pw-module-run
*.dep
/gui-agent/qubes-gui
/gui-agent/qubes-gui-runuser
/gui-common/qubes-gui-runuser
