[Unit]
Description=Qubes GUI Agent
After=qubes-meminfo-writer.service qubes-mount-home.service

[Service]
# pretend tha user is at local console
ExecStartPre=/bin/mkdir -p /var/run/console ; /bin/touch /var/run/console/user
# clean env
ExecStart=/usr/bin/qubes-gui $GUI_OPTS
ExecStopPost=/bin/rm -f /tmp/qubes-session-env /tmp/qubes-session-waiter
StandardOutput=syslog
Environment=DISPLAY=:0
EnvironmentFile=-/var/run/qubes-service-environment

[Install]
WantedBy=multi-user.target
