[Unit]
Description=Qubes GUI Agent
After=qubes-meminfo-writer.service qubes-mount-dirs.service
ConditionPathExists=!/var/run/qubes-service/lightdm

[Service]
StandardInput=tty
TTYPath=/dev/tty7
# custom PATH for X session can be set with ENV_PATH; otherwise service's PATH
# is inherited
#Environment=ENV_PATH=/usr/local/bin:/usr/bin:/bin
ExecStartPre=/bin/sh -c /usr/lib/qubes/qubes-gui-agent-pre.sh
ExecStart=/usr/bin/qubes-gui $GUI_OPTS
# clean env
StandardOutput=syslog
Environment=DISPLAY=:0
EnvironmentFile=-/var/run/qubes-service-environment

[Install]
WantedBy=multi-user.target
